body {
  background-color: #FCF8E8;
}

img {
  width: 150px;
  height: 200px;
}

hr {
  background-color: white;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
